<html>

{{ top_layout | safe}}

<div class='div_body'>
<a href='/survey/' style='float:right;'>Výběr dotazníků</a>
<h1> {{ survey.name }} </h1> 


<p style='color:red;font-size:150%'> {{ prefilled.form_error }} </p>

<form id="form_{{survey.id}}" action="/survey/{{survey.id}}" method='POST'>
{% csrf_token %}

{% for question in questions %}
    <h3> {{ question.text }} <h3>
    {% if question.answer_type == 'rating' %}
        {% for rate in possible_rates %}
            <label for="{{ question.id }}_{{rate}}">{{ rate }}</label>
            <input id="{{ question.id }}_{{rate}}" type='radio' name={{ question.id }} value={{ rate }}
            {% if prefilled|get_form_item:question.id == rate %}
                checked='checked'
            {% endif %}
            >
            &nbsp&nbsp&nbsp&nbsp
        {% endfor %}   

    {% elif question.answer_type == 'text' %}
        <textarea name={{ question.id }} rows='1' cols='35' form_id="form_{{survey.id}}">{{ prefilled|get_form_item:question.id }}</textarea> 
    {% elif question.answer_type == 'yes_no' %}
        <label for="{{ question.id }}_yes">Ano</label>
        <input id="{{ question.id }}_yes" type='radio' name={{ question.id }} value='Yes'
        {% if prefilled|get_form_item:question.id == 'Yes' %}
                checked='checked'
        {% endif %}
        >
        &nbsp&nbsp&nbsp&nbsp
        <label for="{{ question.id }}_no">Ne</label>
        <input id="{{ question.id }}_no" type='radio' name={{ question.id }} value='No'
        {% if prefilled|get_form_item:question.id == 'No' %}
                checked='checked'
        {% endif %}
        >
        
    {% elif question.answer_type == 'yes_no_dc' %}
    
        <label for="{{ question.id }}_yes">Ano</label>
        <input id="{{ question.id }}_yes" type='radio' name={{ question.id }} value='Yes'
        {% if prefilled|get_form_item:question.id == 'Yes' %}
                checked='checked'
        {% endif %}
        > 
        &nbsp&nbsp&nbsp&nbsp
        <label for="{{ question.id }}_no">Ne</label>
        <input id="{{ question.id }}_no" type='radio' name={{ question.id }} value='No'
        {% if prefilled|get_form_item:question.id == 'No' %}
                checked='checked'
        {% endif %}
        >
        &nbsp&nbsp&nbsp&nbsp
        <label for="{{ question.id }}_dc">Je mi to jedno</label>
        <input id="{{ question.id }}_dc" type='radio' name={{ question.id }} value='dc'
        {% if prefilled|get_form_item:question.id == 'dc' %}
                checked='checked'
        {% endif %}
        >
    {% else %}
        Unknown
    {% endif %}
    <br>
    <br>

{% endfor %}

<br>
<br>
<br>

<label for='respondent'>Jméno:</label>
<input type='text' name='respondent' id='respondent' value="{{ prefilled.respondent }}">
<br>
<br>

<input type='submit' value='Odeslat' name='send'>
<input type='submit' value='Nahrát' name='load'>
<form>
</div>


</html>