<html>

{{ top_layout | safe}}

<style>
    #header_survey{
        color: #F085BE;
    }
</style>

<div class='div_body'>
<p>Všechna políčka v dotazníku, kromě jména, jsou nepovinná. Když budete s vyplněním spokojení, klikněte na 'Odeslat' a odpovědi poputují k nám.
     Pokud si přejete nahrát vaše předcházející odpovědi, zadejte jméno a klikněte na tlačítko 'Nahrát'.</p>

<h1> {{ survey.name }} </h1> 


<p style='color:red;font-size:150%'> {{ prefilled.form_error }} </p>
<p style='color:green;font-size:150%'> {{ prefilled.form_success }} </p>

<form id="form_{{survey.id}}" action="/survey/{{survey.id}}" method='POST'>
{% csrf_token %}

{% for question in questions %}
    <h3> {{ question.text }} </h3>
    {% if question.answer_type == 'rating' %}
        {% for rate in possible_rates %}
            <label for="{{ question.id }}_{{rate}}">{{ rate }}</label>
            <input id="{{ question.id }}_{{rate}}" type='radio' name={{ question.id }} value={{ rate }}
            {% if prefilled|get_form_item:question.id == rate %}
                checked='checked'
            {% endif %}
            >
            &nbsp&nbsp&nbsp&nbsp
        {% endfor %}   

    {% elif question.answer_type == 'text' %}
        <textarea name={{ question.id }} rows='1' cols='35' form_id="form_{{survey.id}}">{{ prefilled|get_form_item:question.id }}</textarea> 
    {% elif question.answer_type == 'yes_no' %}
        <label for="{{ question.id }}_yes">Ano</label>
        <input id="{{ question.id }}_yes" type='radio' name={{ question.id }} value='Yes'
        {% if prefilled|get_form_item:question.id == 'Yes' %}
                checked='checked'
        {% endif %}
        >
        &nbsp&nbsp&nbsp&nbsp
        <label for="{{ question.id }}_no">Ne</label>
        <input id="{{ question.id }}_no" type='radio' name={{ question.id }} value='No'
        {% if prefilled|get_form_item:question.id == 'No' %}
                checked='checked'
        {% endif %}
        >
        
    {% elif question.answer_type == 'yes_no_dc' %}
    
        <label for="{{ question.id }}_yes">Ano</label>
        <input id="{{ question.id }}_yes" type='radio' name={{ question.id }} value='Yes'
        {% if prefilled|get_form_item:question.id == 'Yes' %}
                checked='checked'
        {% endif %}
        > 
        &nbsp&nbsp&nbsp&nbsp
        <label for="{{ question.id }}_no">Ne</label>
        <input id="{{ question.id }}_no" type='radio' name={{ question.id }} value='No'
        {% if prefilled|get_form_item:question.id == 'No' %}
                checked='checked'
        {% endif %}
        >
        &nbsp&nbsp&nbsp&nbsp
        <label for="{{ question.id }}_dc">Je mi to jedno</label>
        <input id="{{ question.id }}_dc" type='radio' name={{ question.id }} value='dc'
        {% if prefilled|get_form_item:question.id == 'dc' %}
                checked='checked'
        {% endif %}
        >

    {% elif question.answer_type == 'alcohol' %}
        <label for="{{ question.id }}_1">Nepiji alkohol</label>
        <input id="{{ question.id }}_1" type='radio' name={{ question.id }} value='1'
        {% if prefilled|get_form_item:question.id == '1' %}
                checked='checked'
        {% endif %}
        ><br>
        <label for="{{ question.id }}_2">Dám si přípitek</label>
        <input id="{{ question.id }}_2" type='radio' name={{ question.id }} value='2'
        {% if prefilled|get_form_item:question.id == '2' %}
                checked='checked'
        {% endif %}
        ><br>
        <label for="{{ question.id }}_3">Pár sklinek zvládnu</label>
        <input id="{{ question.id }}_3" type='radio' name={{ question.id }} value='3'
        {% if prefilled|get_form_item:question.id == '3' %}
                checked='checked'
        {% endif %}
        ><br>
        <label for="{{ question.id }}_4">Rád si toho trošku vypiji</label>
        <input id="{{ question.id }}_4" type='radio' name={{ question.id }} value='4'
        {% if prefilled|get_form_item:question.id == '4' %}
                checked='checked'
        {% endif %}
        ><br>
        <label for="{{ question.id }}_5">Chystám se na velkou párty</label>
        <input id="{{ question.id }}_5" type='radio' name={{ question.id }} value='5'
        {% if prefilled|get_form_item:question.id == '5' %}
                checked='checked'
        {% endif %}
        >
    {% else %}
        Unknown
    {% endif %}
    <br>
    <br>

{% endfor %}

<br>
<br>
<br>

<label for='respondent'>Jméno:</label>
<input type='text' name='respondent' id='respondent' value="{{ prefilled.respondent }}">
<br>
<br>

<input type='submit' value='Odeslat' name='send'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input type='submit' value='Nahrát předešlé odpovědi' name='load'><br>
<p style='font-size: 100%;'> (odeslání a načtení může chvíli trvat, prosíme o strpení) </p>
<form>
</div>

<div style='height: 20%;'>
</div>

<div style='margin-left: auto; margin-right: auto; text-align: center;'>
    <img src='/static/top_layout/rose02.png' style='width: 75px;'>
    </div>

</html>