<html>

{{ top_layout | safe}}

<style>
    #header_contact{
        color: #F085BE;
    }
</style>

<div class='div_body'>

<div> <p style='font-size:120%;'><b>
    Máte nějaké přání, chybí nám tu nějaká informace, nebo se jen chcete na něco zeptat? </b></p>
   <p> Není to vůbec složité, stačí když nám zanecháte zprávu pomocí formuláře níže a my už se o vše postaráme. <br>
    Pro případ, kdy je namístě, abychom Vás kontaktovali nazpět, nezapomeňte nám zanechat také email,
    nebo jiný vámi preferovaný kontakt. </p>
    <p>Pokud by náhodou něco nefungovalo, můžete se nám ozvat přímo na svatba.jjnk@gmail.com</p>
</div>

<p style='color:red;font-size:150%;'> {{ error | safe}} </p>
<p style='color:green;font-size:150%;'> {{ success }} </p>

<form method='POST' id='form_contact'>
{% csrf_token %}

Předmět: <br><input type='text' style='width:95%' name='subject' value="{{ prefilled.subject }}"><br><br>
Email (nepovinné): <br><input type='text' style='width:95%' name='email' value="{{ prefilled.email }}"><br><br>
Text: <br>
<textarea name='message' form='form_contact' rows='15' style='width:95%;'>{{ prefilled.message }}</textarea><br>
<input type='submit' value='Odeslat' style='float:right;margin-right:5%;margin-top:2%;' name='send'>
</form>

</div>

<br>

<div style='height: 20%;'>
</div>

<div style='margin-left: auto; margin-right: auto; text-align: center;'>
    <img src='/static/top_layout/rose02.png' style='width: 75px;'>
    </div>

</html>