<html>

{{ top_layout | safe}}

<style>
    #header_info{
        color: #F085BE;
    }
</style>

<div class='div_body'>

{% for block, infolist in infos.items %}
    <h1> {{ block }} </h1>
    <div style='padding-left:3%;'>
    {% for info in infolist %}
        {% if info.title is not None %}
        <h3> {{ info.title }} </h3>
        {% endif %}
        <p style='padding-left: 3%;'>{{ info.text | safe}}</p>
    {% endfor %}
    </div>
{% endfor %}

<div style='height: 20%;'>
</div>
</div>

</html>