<html>

{{ top_layout | safe}}

<style>
    #header_main{
        color: #F085BE;
    }
</style>

<div class='div_body'>

<div style='text-align: center; font-family: Pacifico, cursive; font-size: 200%;'>
    <p style='font-size: 250%;'>Nasťa a Honza</p>
    <p style='margin-top: -6%;'> se budou brát</p>
    <p style='font-size: 200%;  margin-top: -4%;'>11. 5. 2024</p>
    <p style='margin-top: -4%;'> v Trnavě </p>
</div>

</div>



<div style='margin-left: auto; margin-right: auto; text-align: center;'>
<img src='/static/top_layout/rose02.png' style='width: 75px;'>
</div>

</html>