<html>

<body>
<div style='width:50%;margin-left:auto;margin-right:auto;'>
<h1> {{ respondent.full_name }} </h1>
<div style='float:right'>
    Verbose: &nbsp
    {% if verbose %}
    On
    {% else %}
    Off
    {% endif %}
    &nbsp( 
    {% if verbose %}
    <a href="/stats/respondent/{{respondent.id}}/false">toggle</a>
    {% else %}
    <a href="/stats/respondent/{{respondent.id}}/true">toggle</a>
    {% endif %}
    )
</div>

{% for survey in surveys %}
    {% if verbose %}
    <a href="/stats/survey/{{survey.id}}/true"><h2>Survey: {{survey.name}} </h2></a>
    {% else %}
    <a href="/stats/survey/{{survey.id}}/false"><h2>Survey: {{survey.name}} </h2></a>
    {% endif %}
    
    {% for question in questions|get_item:survey.id %}
    {{ question.text }} 
    <div style='padding-left:20px'>
        {% for answer in answers|get_item:question.id %}
            {{ answer.answer_dt }}:&nbsp&nbsp
            {% if question.answer_type == 'rating' %}
                {{ answer.value }}
            {% elif question.answer_type == 'text' %}
                <p style='padding-left:20px;'> {{ answer.value }}</p>
            {% elif question.answer_type == 'yes_no' %}
                {% if answer.value %}
                    Ano
                {% else %}
                    Ne
                {% endif %}

            {% elif question.answer_type == 'yes_no_dc' %}
                {% if answer.value %}
                    Ano
                {% elif answer.value is None %}
                    Je mi to jedno
                {% else %}
                    Ne
                {% endif %}

            {% elif question.answer_type == 'alcohol' %}
                {% if answer.value == 1 %}
                    Nepiji alkohol
                {% elif answer.value == 2 %}
                    Dám si přípitek
                    {% elif answer.value == 3 %}
                    Pár sklinek zvládnu
                    {% elif answer.value == 4 %}
                    Rád si toho trošku vypiji
                    {% elif answer.value == 5 %}
                    Chystám se na velkou párty
                {% else %}
                    Unknown
                {% endif %}

            {% else %}
                Unknown
            {% endif %}
            <br>
        {% endfor %}
        <br>
    </div>
    {% endfor %}

{% endfor %}
</div>
</body>
</html>