<html>

{{ top_layout | safe}}

<style>
    #header_schedule{
        color: #F085BE;
    }
</style>

<div class='div_body' style='font-size: 125%;'>

16:45 - Příchod host a příprava na obřad <br>
17:00 - Obřad <br>
17:20 - Gratulace novomanželům <br>
17:40 - Proslovy a přípitky <br>
17:55 - Večeře <br>
18:50 - Focení <br>
19:30 - První tanec novomanželů a tanec s rodiči <br>
20:00 - Volná zábava na parketu <br>
21:00 - Zakrojení dortu <br>
22:30 - Volná zábava <br>
23:00 - Druhá večeře (teplý bufet) <br>
23:45 - Hod kyticí <br>
24:00 - Volná zábava do rána <br> 

</div>

<div style='height: 20%;'>
</div>

<div style='margin-left: auto; margin-right: auto; text-align: center;'>
    <img src='/static/top_layout/rose02.png' style='width: 75px;'>
</div>

</html>