<html>

{{ top_layout | safe}}

<style>
    #header_schedule{
        color: #F085BE;
    }
</style>

<div class='div_body' style='font-size: 125%;'>

16:45 - Příchod host a příprava na obřad <br>
<span class='colored'> 17:00 - Obřad </span> <br>
17:20 - Gratulace novomanželům <br>
17:40 - Proslovy a přípitky <br>
<span class='colored'> 17:55 - Večeře </span><br>
18:50 - Focení <br>
<span class='colored'> 19:30 - První tanec novomanželů a tanec s rodiči </span><br>
20:00 - Volná zábava na parketu <br>
<span class='colored'> 21:00 - Zakrojení dortu </span><br>
22:30 - Volná zábava <br>
23:00 - Druhá večeře (teplý bufet) <br>
<span class='colored'> 23:45 - Hod kyticí </span><br>
24:00 - Volná zábava do rána <br> 

</div>

<div style='height: 20%;'>
</div>

<div style='margin-left: auto; margin-right: auto; text-align: center;'>
    <img src='/static/top_layout/rose02.png' style='width: 75px;'>
</div>

</html>