<html>

{{ top_layout | safe}}

<style>
    #header_guests{
        color: #F085BE;
    }
</style>

<div class='div_body'>

<h1>Předběžný seznam hostů</h1>
<p>Zde si můžete prohlédnout seznam pozvaných hostů, kteří projevili zájem o účast.
    Seznam zatím není úplný (finální podoba bude zveřejněna v průběhu března 2024), takže se nelekejte, pokud na seznamu nejste.
    Pravděpoodobně jsme jen neměli čas seznam aktualizovat.</p>
<p>Pro úplnost uvádíme u hostů i '+1', značící, že daný host má doprovod. Pokud byste u svého jména čekali '+1', které tam chybí,
    je to pravděpoodobně tím, že váš doprovod byl explicitně pozván a jeho jméno je tedy přímo v seznamu. Vždycky se však může stát, 
    že se plány změní, nebo že jsme my někde něco domotali. V tom případě nás neváhejte kontaktovat 
    (například <a href='/contact/'>kontaktním formulářem</a>) a my vše napravíme.
</p>

<h1 id='seats'>Zasedací pořádek</h1>
<div style='padding-left:3%'>
    <h2>Obřad</h2>
<p style='padding-left:3%'>
    Pro tuto událost existuje zasedací pořádek pro nejbližší rodinu. Širší rodina a kamarádi budou stát na terase z boku.
</p>

    <h2>Sál</h2>
    <p style='padding-left:3%'>
        TODO: Obrázek sálu
    </p>
</div>
</div>

</html>