<html>

{{ top_layout | safe}}

<style>
    #header_guests{
        color: #F085BE;
    }
</style>

<div class='div_body'>

<h1>Předběžný seznam hostů</h1>
<p>Zde si můžete prohlédnout seznam pozvaných hostů, kteří projevili zájem o účast.
    Seznam zatím není úplný (finální podoba bude zveřejněna v průběhu března 2024), takže se nelekejte, pokud na seznamu nejste.
    Pravděpoodobně jsme jen neměli čas seznam aktualizovat.</p>

<h1 id='seats'>Zasedací pořádek</h1>
<div style='padding-left:3%'>
    <h2>Obřad</h2>
<p style='padding-left:3%'>
    Pro tuto událost existuje zasedací pořádek pro nejbližší rodinu. Širší rodina a kamarádi budou stát na terase z boku.
</p>

    <h2>Sál</h2>
    <p style='padding-left:3%'>
        TODO: Obrázek sálu
    </p>
</div>
</div>

</html>