<html>

{{ top_layout | safe}}

<style>
    #header_guests{
        color: #F085BE;
    }
</style>

<div class='div_body'>

<h1 class='colored'>Seznam hostů</h1>
<p>Zde si můžete prohlédnout finální seznam pozvaných hostů. Věříme, že se zde všichni najdete. Vždycky se však může stát, 
    že se plány změní, nebo že jsme někde něco domotali. V tom případě nás neváhejte kontaktovat 
    (například <a href='/contact/'>kontaktním formulářem</a>) a my vše napravíme.
</p>

<div style='padding-left:3%'>

<h3>Rodina nevěsty</h3>

<p style='padding-left:3%'>
Jana Kovářová - matka nevěsty<br>
Boris Kovář - otec nevěsty <br>
Ľubica Köpplová (1E) <br>
Dagmar Kovářová <br>
Róbert Köppl (1B) + Janka Köpplová (1A) <br>
Tomáš Köppl (1D) + Milena Köpplová (1C) <br>
Martin Köppl (1F) <br>
Róbert Köppl ml. (2C)<br>
Dominika Köpplová (3G) + Roman Szimet (3H) <br>
Tomáš Köppl ml. (2B) <br>
Martina Köpplová (3I) + Denis Stolár (3A) + Liana (3J) <br>
Martin Köppl ml. (2A) + Majlinda Meta (2K)<br>
Tereza Köpplová (2E) + Nina Fančovičová (2D) <br>
</p>
<h3>Rodina ženicha</h3>
<p style='padding-left:3%'>
    Jitka Juračková - matka ženicha <br>
    Martin Juračka - otec ženicha <br>
    Jakub Juračka (2J) + Zuzka Mikšová (2I) <br>
    Hana Juračková (2F) + Daniel Nerušil (2G) <br>
    Josef Juráček (2H) <br>
</p>
<h3>Kamarádi</h3>
<p style='padding-left:3%'>
    Daniela Krúželová (5A) + Marek Jemelka (5B) <br>
Zuzana Šándorová (5F) + Veronika Sovičová (5G) <br>
Nikola Boldišová (3E) + Adam Kubiček (3F) <br>
Daniela Pešková (3B) + Marek Olejník (3D) + Beáta (3C) <br>
Martin Miškev (5H) + Ľubor Čambál (5E) <br>
Tomáš Hrehuš (5D) + Adriana Pražienková (5C) <br>
Tatiana Beníková (4G) + Josef Roupec (4H) <br>
Kristína Žofčíková (4C) + Marko Tamajka (4D) (+ dítě? :D) <br>
Veronika Zagrapanová (4A) + Luis Huxel (4B) <br>
Tereza Formánková (4E) + Miroslav Vican (4F) <br>
</p>

</div>

<h1 id='seats' class='colored'>Zasedací pořádek</h1>
<div style='padding-left:3%'>
    <h3>Obřad</h3>
<p style='padding-left:3%'>
    Pro tuto událost existuje zasedací pořádek pro nejbližší rodinu. Širší rodina a kamarádi budou stát na terase z boku.<br>
        <img src='/static/terasa.png' style='width: 100%; border: 1px solid black;'>
</p>

    <h3>Sál</h3>
    <p style='padding-left:3%'>
        <img src='/static/main_hall.png' style='width: 100%; border: 1px solid black;'>
    </p>
</div>
</div>

<div style='margin-left: auto; margin-right: auto; text-align: center;'>

    <img src='/static/top_layout/rose02.png' style='width: 75px;'>
</div>

</html>
